.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.your-carousel-classname .slick-dots {
  position: absolute;
  bottom: 10px;
}
.your-carousel-classname {
  height: 350px;
}

.your-carousel-classname .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #888;
  opacity: 0.8;
  margin-top: -10px;
}

.your-carousel-classname .slick-dots li.slick-active button {
  background-color: #db4444;
  border: white 1px solid;
  width: 10px !important;
}
.slick-active,
.slick-dots > li {
  width: 10px !important;
}
